*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media (max-width: 520px) {
    img{
        height: 600px;
    }
}

@media  (max-width: 854px) and (min-width: 521px) {

}

@media (max-width: 1920px) and (min-width: 855px) { 
    body{
        display:flex ;
    }

    .firts{
        position: center;
        border: 2px solid black;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 10em 10em 10em 20em;
        
    }

    #bg_gray{
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        background-color: gray;   
        grid-column: 1/8;
        grid-row: 1/3;
    }

    #bg_wht{
        background-color:rgb(225, 221, 221);
        grid-column: 1/8;
        grid-row: 3/5;
        
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
    }

    #xd{
        width: 300px;
        grid-column: 2/3;
        grid-row: 2/5;
        border-radius: 5%;
    }
    
    #inf{
        width: 200px;
        height: 150px;
    }

    #profesion{
        width: 200px;
        height: 150px;
    }

    #inte{
        width: 200px;
        height: 150px;
    }

    #prof{
        display: flex;
        flex-direction: column;
        grid-column: 2/3 ;
        align-items: center;
    }
    
    #info{
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        align-items: center;
    }

    #int{
        display: flex;
        flex-direction: column;
        grid-column: 4/5;
        align-items: center;
    }

    #name{
        grid-column: 2/3;
        grid-row: 2/3;
        border: 5px solid black;
        border-radius: 0 20% 0 20%;
    }

    
    h1{
        font-size: 60px;
    }

}
